[package]
name = "libzmq-sys"
version = "0.1.0"
authors = ["jean-airoldie <maxence.caron@protonmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
links = "zmq"
build = "build.rs"
description = """
Raw CFFI bindings for libzmq
"""
repository = "https://github.com/jean-airoldie/libzmq-rs"
readme = "README.md"
keywords = ["libzmq", "zmq", "zeromq", "bindings", "cffi"]
categories = ["external-ffi-bindings"]

[badges]
travis-ci = { repository = "jean-airoldie/libzmq-rs", branch = "master" }
maintenance = { status = "actively-developed" } 
is-it-maintained-issue-resolution = { repository = "https://github.com/jean-airoldie/libzmq-rs" }
is-it-maintained-open-issues = { repository = "https://github.com/jean-airoldie/libzmq-rs" }

[features]
# Used to link statically to libzmq.
static = []
# Used to build in debug mode.
debug = []
# Used to enable the libzmq DRAFT API.
draft = []

[dependencies]
libc = "0.2"

[dev-dependencies]
version-sync = "0.8"

[build-dependencies]
cmake = "0.1"
bindgen = "0.49.0"
